.Header{
    background: $fifth-Color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-Logo{
        width: 30px;
        height: 30px;
    }

    &-Menu{
        width: 300px;
        background: $fifth-Color;
    }

    &-ListItem{
        display: flex;
        justify-content: space-between;
        border: none;
    }

    &-Item{
        list-style: none;
    }

    &-Link{
        color: $first-Color;
        text-decoration: none;
        font-size: $m;
        font-weight: 700;
    }
}
