// PALETA DE COLORES

$first-Color: #1F3F68;
$second-Color: #356EAD;
$thir-Color: #1c1c1c;
$fourth-Color: #9d9d9d;
$fifth-Color: #ffffff;

// TAMANIOS DE CUENTE
$xxxl : 34px;
$xxl : 24px;
$xl : 20px;
$l : 16px;
$m : 12px;
$s : 10px;


.fw-l{
    font-weight: 200;
}

.fw-r{
    font-weight: 500;
}

.fw-b{
    font-weight: 800;
}

.title-color{
    color: $first-Color;
}

.name-color{
    color: $second-Color;
}

.p-color{
    color: $fourth-Color;
}