.Search{
    

    &-Container{
        padding: 0 10px;
        
    }

    &-Input{
        height: 50px;
        
        background: rgb(238, 238, 238);
        border-radius: 2px;
        font-size: $s;
    }
}

