.Main{
  
    &-Title-Text{
        font-size: $l;

    }
}

.Main-Art1{
    
    height: 400px;
    // background: chocolate;
    

    &-Info{
        height: 200px;
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
    }

    &-Title{
        font-size: $xxl;
    }

    

    &-Social{

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &-Personal{
        

        &-Name{
            font-size: $l;

        }

        &-Date{
            font-size: $m;
        }

    }

    &-Icons img{
        width: 20px;
    }

    & img{
        height: 100%;
    }
}



.Main-Art2-Card{
    
    height: 400px;
    // background: chocolate;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    

    &-Info{
        height: 400px;
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
    }

    &-Title{
        font-size: $l;
    }

    &-Text{
        font-size: $m
    }

    &-Social{

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &-Personal{
        

        &-Name{
            font-size: $l;

        }

        &-Date{
            font-size: $m;
        }

    }

    &-Icons img{
        width: 20px;
    }

    & img{
        height: 100%;
    }

    &-Img{
        width: 100%;
    }
}

.Popular{
    border-bottom: 1px solid darkgray;

    &-Text{
        font-size: $m;
        color: $first-Color;
        
    }
}

.All{

    &-Text{
        font-size: $m;
        color: $first-Color;
    }
}

.old{
    border-top: 1px solid $thir-Color;
}